@{
    ViewBag.Title = "Bevestig mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Bedankt voor het bevestigen van uw mailadres @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: #343638;
    }
    h2 {
        color: #0064AD;;
    }
    h4 {
        color: #0064AD;;
    }
        .label{

        }
</style>