@{
    ViewBag.Title = "Login Fout";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Onsuccesvolle inlogpoging.</h3>
</hgroup>
<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: #343638;
    }
    h2 {
        color: #0064AD;;
    }
    h4 {
        color: #0064AD;;
    }
        .label{

        }
</style>