@{
    ViewBag.Title = "Wachtwoord vergeten";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Kijk uw mailbox na voor een herstelmail.
    </p>
</div>
	
<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: #343638;
    }
    h2 {
        color: #0064AD;;
    }
    h4 {
        color: #0064AD;;
    }
        .label{

        }
</style>