@model Kunja.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Log in met social media.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
         
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div class="social-auth-links text-center">
                
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-block btn-social btn-google btn-flat"  id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" >Log in met @p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
