/* Set padding to keep content from hitting the edges */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
}
#zoek{
    color:black;
}
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
form-group{
    color:black;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.li {
    color:#0064AD; 
}


p {
    color: white;
}
h1 {
    color: grey;
    ;
}
h2 {
    color: #0064AD;
    ;
}

h3 {
    color: white;
    ;
}

h4 {
    color: #0064AD;
    ;
}
tr{
    color: white;
}

.label {
}
.form-group {
    color: white;
}

