@{
    ViewBag.Title = "About";
    @Styles.Render("~/Content/css")
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: #343638;
    }
    h2 {
        color: #0064AD;;
    }
    h4 {
        color: #0064AD;;
    }
        .label{

        }
</style>