@{
    ViewBag.Title = "Contact";
    @Styles.Render("~/Content/css")
}
<table>
    <address>
        <tr> <h2>
        Hieronder de adresgegevens van ROCit:
        </h2>
        </tr><tr> <br />
            Bedrijfsnaam:	ROCit
        </tr> <tr> <br />
            Adres:	Sionstraat 41
        </tr> <tr> <br />
            Postcode:	3061 EP
        </tr> <tr> <br />
            Plaats:	Rotterdam
        </tr> <tr> <br />
            Telefoonnummer:	010 – 674 28 19
        </tr> <tr>
        <br />
        Mail-adres:	info@rocit.com
        <br />
        </tr> 
    </address>
</table>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@de4hardewerkers.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@de4hardewerkers.com</a>
</address>

<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: #343638;
    }
    h2 {
        color: #0064AD;;
    }
    h4 {
        color: #0064AD;;
    }
        .label{

        }
</style>