@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/css")
}

<div id="waangpark">
    <h1 style="color: white;">Wagenpark ROCit</h1>
    <p class="lead" style="color: white;">Dit is de beginpagina van uw wagenpark</p>
    <img style="height: 20%;; width:20%;" src="@Url.Content("~/Content/Images/afbeeldingwagenpark.png")" />
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Wat kunt u hier zoal doen?</h3>
        <p>
            Op deze site kunt u de auto's van uw dealer zien en gepland onderhoud bekijken.
            U moet een account aanvragen bij de beheerder als dealer of applicatiebeheerder.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Wie zijn wij?</h3>
        <p> Onze groep bestaat uit: Theepa, Mathijn, Leon en Rens. <br />
        Wij maken dit project om auto's bij te houden en onderhoud in te plannen. <br />
        Hierdoor hopen wij dat het duidelijker wordt dan voorheen.</p>

    </div>
    <div class="col-md-4">
        <h3>Hoe kunt u ons contacteren?</h3>
        <p>
            Bedrijfsnaam:	ROCit <br />
            Adres:	Sionstraat 41 <br />
            Postcode:	3061 EP <br />
            Plaats:	Rotterdam <br />
            Telefoonnummer:	010 – 674 28 19 <br />
            Mail-adres:	info@rocit.com <br />
        </p>
    </div>
</div>
<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: white;
    }
    h1 {
    color: grey;
    }
    h2 {
        color: #0064AD;;
    }
    h3 {
        color: white;;
    }
    h4 {
        color: #0064AD;;
    }
        .label{

        }
</style>
